<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>Expédition-Fenouillet</title>
  </head>
  <body>

    <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="expedition.html"><img src="../assets/téléchargement.png" class="img-11ts" width="300px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="expedition.html">Expédition de Fenouillet</a>
            <a class="nav-link" href="index.html">Réception Toulouse</a>
            <a class="nav-link active" aria-current="page" href="#">Recherche dossier</a>
            <a class="nav-link" href="https://o-code-barre.netlify.app/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
              <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
            </svg></a>
          </div>
        </div>
      </div>
    </nav>
  <body>
    <div class="container-filter-table-reception">
      <input type="text" id="devis-input" class="soneSaisie" onkeyup="filter()" placeholder="Recherche..."/>
      <button class="btn btn-success" id="exportBtn">Export CSV</button>
    </div>
    <div id="archived-container"></div>
    <table id="archivesTable" class="table table-striped table-bordered table-sm">
      <thead>
          <tr>
              <th class="th-sm" scope="col">Date d'envoi à Toulouse</th>
              <th class="th-sm" scope="col">Date de Réception à Toulouse</th>
              <th class="th-sm" scope="col">Devis</th>
              <th class="th-sm" scope="col">Pack</th>
              <th class="th-sm" scope="col">Palette</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
  <div id="pagination" class="pagination justify-content-center">
  </div>
  <div class="display-button-return">
    <button type="button" class="btn btn-dark">
      <a href="index.html">Retour Accueil</a>
    </button>
  </div>
    <!-- <script type="module" src="/src/main.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="../js/archive.js"></script>
    <script src="../js/filterTable.js"></script>
  </body>
</html>
